header > article > img{
    float: left;
}
header > article > nav >ul > *{
    display: inline-table;
    padding: 5 px;
    
}
header > article > nav > ul:first-child {
    padding-left:30%;
}
main > article>h1:first-child{
    text-align: center;
}
main>article:nth-child(2){
    color: brown;
}
main{
    width: 90%;
    margin:auto;
}
    